body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
.navbar {
  background: #111;
  border-bottom: 3px solid #009739;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  color: #00ff88;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
  color: #00ff88;
}

/* CENTRAL */
.center {
  text-align: center;
  margin-top: 60px;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  justify-content: center;
}

.panel {
  background: #1a1f2e;
  padding: 25px;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  box-shadow: 0px 0px 25px rgba(0,255,100,0.2);
}

/* LOGIN */
.loginPanel {
  width: 300px;
}

/* CHAT */
#chatBox {
  height: 300px;
  overflow-y: auto;
  background: #0f141f;
  padding: 10px;
  border-radius: 10px;
}

.msg {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
}

.user {
  background: #00aa55;
  text-align: right;
}

.bot {
  background: #333;
}

/* INPUT */
.inputArea {
  display: flex;
  gap: 10px;
}

input, select {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* BOTÕES */
button {
  background: #ffcc00;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.actions {
  margin-top: 10px;
}

/* LOST PANEL */
.lostPanel {
  background: #222;
  padding: 10px;
  margin-top: 10px;
}

/* MONITORAMENTO */
.monitorPanel {
  width: 400px;
}

.monitorBox {
  background: #0f141f;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  border: 1px solid #00ff88;
}

.monitorBox p {
  font-size: 18px;
}

/* STATUS */
.status-ativo {
  color: #00ff88;
  font-weight: bold;
}

.status-bloqueado {
  color: #ff4444;
  font-weight: bold;
}

.hidden {
  display: none;
}